@use 'variables';

body{
  color: variables.$color-white;
  background-color: variables.$color-black;
  font-family: variables.$font-family;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}



  
