@use 'variables';

body{
  color: variables.$color-white;
  background-color: variables.$color-black;
  font-family: variables.$font-family;
  width: 100%;
  max-width: 1800px;
}

div.page{
  width: 90%;
  max-width: 1800px;
    
}


  
