@use 'variables';

section.form{
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  padding: 5%;
  justify-content: center;
  background-color: variables.$color-dark-grey;
  background-image: url('../img/icon/Group\ 26\ \(2\).svg');
  background-repeat: no-repeat;
  background-position: -180% 83%;
  padding-bottom: 15%;
 
  @media (min-width: 768px){
    background-position: -35% 95%;
  }  
  @media (min-width: 1024px){
    grid-template-columns: 1fr 1fr;
    padding-bottom: 5%;
    background-position: 0% 83%;
  }  
  
  h2{
    font-size: 1.8rem;
    padding: 5% 0;
    text-align: center;
    @media (min-width: 768px){
      font-size: 4rem;
      padding-top: 0;
    }
    @media (min-width: 1024px){
      text-align: left;
      margin-left: 10%;
    }
  }
  p{
    font-size: 0.9rem;
    padding:0 0 15% 0;
    text-align: center;
    @media (min-width: 768px){
      width: 70%;
      margin-left: auto;
      margin-right: auto;
      font-size: 1.1rem;
      line-height: 1.5;
    }
    @media (min-width: 1024px){
      margin: 10%;
      text-align: left;
    }
  }
  div.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    width: 100%;
    @media (min-width: 768px){
      width: 70%;
      margin-left: auto;
      margin-right: auto;
      font-size: 1.1rem;
    }
    label {
      padding-left: 5%;
      font-size: 0.8rem;
      letter-spacing: 1px;
      color: variables.$color-grey;
      margin-bottom: 0.5rem;
    }

    input,
    textarea {
      background: none;
      border: none;
      border-bottom: 1px solid variables.$color-white;
      color: variables.$color-white;
      font-size: 1rem;
      outline: none;
      transition: border-color 0.3s ease;
      &:required:invalid {
        border-bottom-color: variables.$color-red;
      }
      &:valid {
        border-bottom-color: variables.$color-green;
      }
    }

    input:focus,
    textarea:focus {
      border-bottom-color: variables.$color-green;
    }

    .error-message {
      display: none;
      font-size: 0.8rem;
      color: variables.$color-red;
      margin-top: 0.4rem;
      padding-left: 5%;
      text-align: right;
    }

  // Muestra el mensaje solo si el input es inválido
    input:invalid + .error-message,
    textarea:invalid + .error-message {
      display: block;
    }

    input:valid + .error-message,
    textarea:valid + .error-message {
      display: none;
    }
  }
  div.form-submit {
    display: flex;
    justify-content: flex-end;
    @media (min-width: 768px){
      width: 70%;
      margin-left: auto;
      margin-right: auto;
      font-size: 1.1rem;
    
    }
    button {
      background: none;
      border: none;
      color: variables.$color-white;
      letter-spacing: 1px;
      cursor: pointer;
      border-bottom: 2px solid variables.$color-green;
      padding-bottom: 10px;
      transition: color 0.2s, border-color 0.2s;

      &:hover {
        color: variables.$color-green;
        
      }
    }
  }
}
