@use 'variables';

section.form{
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  padding: 5%;
  background-color: variables.$color-dark-grey;
  background-image: url('../img/icon/Group\ 26\ \(2\).svg');
  background-repeat: no-repeat;
  background-position: -100% 83%;
  padding-bottom: 20%;
  h2{
    font-size: 1.8rem;
    padding: 5% 0;
  }
  p{
    font-size: 0.9rem;
    padding:0 0 15% 0;
    text-align: center;
  }
  div.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    width: 100%;
    label {
      font-size: 0.8rem;
      letter-spacing: 1px;
      color: variables.$color-grey;
      margin-bottom: 0.5rem;
    }

    input,
    textarea {
      background: none;
      border: none;
      border-bottom: 1px solid variables.$color-white;
      color: variables.$color-white;
      font-size: 1rem;
      outline: none;
    }

    input:focus,
    textarea:focus {
      border-bottom-color: variables.$color-green;
    }
  }
  div.form-submit {
    display: flex;
    justify-content: flex-end;
 
    button {
      background: none;
      border: none;
      color: variables.$color-white;
      letter-spacing: 1px;
      cursor: pointer;
      border-bottom: 2px solid variables.$color-green;
      padding-bottom: 10px;
      transition: color 0.2s, border-color 0.2s;

      &:hover {
        color: variables.$color-green;
        
      }
    }
  }
}
