@use 'variables';
nav{
    text-align: center;
    padding: 3% 5%;
    p.name{
        font-family: variables.$font-name;
        font-size: 25px;
    }
    div.icons{
        display: flex;
        justify-content: center;
        gap: 15px;
    }
    @media (min-width: 768px){
       display: flex;
       flex-direction: row;
       justify-content: space-between;
    
    }
    @media (min-width: 1024px){
        width: 100%;
        padding: 3% 10%;
    }

    .github:hover{
        content: url('../img/icon/akar-icons_github-fill_green.svg');
    }
    .shape:hover{
        content: url('../img/icon/Shape_green.svg');
    }
    .twiter:hover{
        content: url('../img/icon/akar-icons_twitter-fill_green.svg');
    }
    .linkedin:hover{
        content: url('../img/icon/LinkedIn_green.svg');
    }
}
