@use 'variables';
nav{
    text-align: center;
    padding: 3% 5%;
    p.name{
        font-family: variables.$font-name;
        font-size: 25px;
    }
    div.icons{
        display: flex;
        justify-content: center;
        gap: 15px;
    }
    @media (min-width: 768px){
       display: flex;
       flex-direction: row;
       justify-content: space-between;
    
    }
    @media (min-width: 1024px){
        width: 100%;
        padding: 3% 10%;
    }
}