@use 'variables';

section.skills{
    display: grid;
    grid-template-columns: 1fr;
    
    justify-items: center;
    gap: 25px;
    background-image: url('../img/icon/Group\ 26\ \(1\).svg');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: right bottom;
    padding-bottom: 11%;
    @media (min-width: 768px){
      grid-template-columns: 1fr 1fr;
      background-size: 40%;
      background-position: 120% 100%;
      justify-items: start;
      padding-left: 5%;
    }
    @media (min-width: 1024px){
       
    }
    article.skill{
        h3{
            font-size: 1.8rem;
            text-align: center;
            line-height: 1.1;
            padding-bottom: 3%;
            @media (min-width: 768px){
                text-align: left;
                font-size: 2.3rem;
            }
        }
        p{
            text-align: center;
            @media (min-width: 768px){
                text-align: left;
            }
        }
    }
    
    hr{
        width: 90%;
        margin-top: 3%;
        @media (min-width: 768px){
            display: none;
        }
    }
}